.visit {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.40rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  font-size: 12px;
  padding: 0.40rem 1rem;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.visit__icon-wrapper {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.visit:hover {
  background-color: #000;
}

.visit:hover .visit__icon-wrapper {
  color: #000;
}

.visit__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.visit:hover .visit__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.visit:hover .visit__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}
